body, input, button, select, textarea {
    font-family: Courier, Arial;
}

#huonoID, #huonoSalasana, #huonoNimi, #huonoOsoite, #huonoMaa, 
#huonoPostinro, #huonoSposti, #huonoSukupuoli, #huonoKieli {
    display: none;
    color: rgb(235, 29, 50);
    font-weight: bold;
    text-decoration: overline;
}