body, input, button {
    font-family: Courier, Arial;
}

#huonoID, #huonoPostinro, #huonoSposti, #huonoSukupuoli, #huonoKieli {
    display: none;
    color: rgb(235, 29, 50);
    font-weight: bold;
}